<%# <p class='title'>Chatty</h1>
<p class='title'>Chattyとは？</p>
<p class='title'>Chattyとはチャットアプリです</p> %>

    <%# <section>

        <div class="title">Chatty</div>

    </section>
    <section>

        <div class="title">Chattyとは？</div>

    </section>
    <section>

        <div class="title">Chattyとはチャットアプリです</div>

    </section> %>

<section>
  <div class='content'>JavaScript</div>
</section>

<section>
  <div class='content'>BavaScript</div>
</section>

<section>
  <div class='content'>KavaScript</div>
</section>